{% extends "layout/app.twig" %}

{% block content %}
    <h1>Seznam článků</h1>
    <table class="table">
        <tr>
            <th>Uživatel</th>
            <th>Autoři</th>
            <th>Název</th>
            <th>Stav</th>
            <th>Akce</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.user.name }}</td>
                <td>{{ article.authors }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.published ? 'Publikováno' : article.rejected ? 'Odmítnuto' : "Čeká" }}</td>
                <td>
                    <div class="btn-group">
                        <a href="/article/{{ article.id }}" class="btn btn-sm btn-warning"><i class="fa fa-eye"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
