{% extends "layout/app.twig" %}

{% block title %}Uživatelé{% endblock %}

{% block content %}
    <h1>Uživatelé</h1>
    <table class="table">
        <tr>
            <th>Jméno</th>
            <th>Login</th>
            <th>Email</th>
            <th>Stav</th>
            <th>Role</th>
            <th>Akce</th>
        </tr>
        {% for u in users %}
            <tr>
                <td>{{ u.name }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.banned ? 'Zablokován' : 'Aktivní' }}</td>
                <td>
                    <div class="btn-group">
                        <a href="/admin/user/{{ u.id }}/{{ u.author ? 'remove' : 'add' }}/author" class="btn btn-sm btn-{{ u.author ? 'success' : 'danger' }}">Autor</a>
                        <a href="/admin/user/{{ u.id }}/{{ u.reviewer ? 'remove' : 'add' }}/reviewer" class="btn btn-sm btn-{{ u.reviewer ? 'success' : 'danger' }}">Recenzent</a>
                        {% if u.id == user.id %}
                            <div class="btn btn-sm btn-success disabled">Admin</div>
                        {% else %}
                            <a href="/admin/user/{{ u.id }}/{{ u.admin ? 'remove' : 'add' }}/admin" class="btn btn-sm btn-{{ u.admin ? 'success' : 'danger' }}">Admin</a>
                        {% endif %}
                    </div>
                </td>
                <td>
                    {% if u.id != user.id %}
                        <div class="btn-group">
                            <a href="/admin/user/{{ u.id }}" data-method="delete" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                            {% if u.banned %}
                                <a href="/admin/user/{{ u.id }}/unblock" class="btn btn-sm btn-success"><i class="fa fa-check"></i></a>
                            {% else %}
                                <a href="/admin/user/{{ u.id }}/block" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
